.track-list {
-webkit-filter: opacity(7%);
filter: opacity(7%);
position:absolute; 
left:0px;
}

.songs {
letter-spacing: 10px;
padding: 8px;
}

.bio {
letter-spacing: 1px;
text-align: justify;
font-weight: 100;
}